*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #101010;
}
.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-top: 5px solid #00ffcc;
    position: relative;
    animation: spin 1.5s linear infinite;
  }
  
  .loader::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-top: 5px solid #ff00ff;
    animation: spin 2.5s linear infinite reverse;
  }
  
  .inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #101010;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6), 0 0 25px rgba(255, 0, 255, 0.7), 0 0 35px rgba(255, 0, 0, 0.8);
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }