*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    height: 100vh;
    width: 100vh;
    position: relative;
    background: url("./drawn-illuminated-idea-light-bulb-drawn-with-chalk-blackboard.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}
button{
    cursor: pointer;
}
.gameAnimation{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animationContainer{
    background: #00000091;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 1rem;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    align-items: center;
    justify-content: center;
}
.animationContainer .loader{
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: rotate infinite 3s ease-in-out;
    transition: all ease 0.5s ease;
}
.animationContainer h1{
    font-size: 3rem;
}
.loader .subMainBox{
    height: 50px;
    width: 50px;
    background: #d1d1d1;
}
.loader .subMainBox:nth-child(2){
    background: red;
}
.loader .middle{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 15px;
    left: 15px;
    background: #fff;
    border-radius: 50%;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.gamePlayerForm{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
}
.gameFormContainer{
    padding: 20px;
    height: 80%;
    width: 70%;
    display: flex;
    backdrop-filter: blur(6px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #0800001c;
    border-radius: 10px;
    gap: 2rem;
}
.formContainer{
    width: 450px;
}
.formContainer input{
    height: 45px;
    background: none;
    color: #fff;
    outline: none;
    border-bottom: 2px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.3rem;
    width: 300px;
    transition: all ease 0.1s;
    padding: 10px;
}
.formContainer input:focus{
    border:2px solid #212121;
    border-radius: 8px;
}
.formContainer button{
    width: 100px;
    height: 45px;
    font-size: 1.3rem;
    cursor: pointer;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #212121;
    margin-left: 10px;
    transition: all ease 0.1s;
}
::-ms-input-placeholder { 
    color: #fff;
  }
  
  ::placeholder {
    color: #fff;
  }
.formContainer button:hover{
    background: #000;
    color: #fff;
    border:2px solid #212121;
}
.playerNotFound{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    left: 0;
    background: #000000b0;
}
.modaleBox{
    padding: 40px;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.modaleBox button{
    height: 45px;
    padding-inline: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    background: #fff;
    color: #212121;
    border-radius: 4px;
    transition: all ease 0.1s;

}
.modaleBox button:hover{
    background: #212121;
    color: #fff;
    border: 2px solid #fff;
}
.playNextOrExit{
    height: 100vh;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: #00000079;
    backdrop-filter: blur(4px);
    width: 100vw;
}
.nextOrExitContainer{
    background: #00000079;
    padding: 40px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}
.nextOrExitContainer .exitOrNextButtons{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.nextOrExitContainer .exitOrNextButtons button{
    height: 45px;
    width: 100px;
    font-size: 1.2rem;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #212121;
    cursor: pointer;
    transition: all ease 0.1s;

}
.nextOrExitContainer .exitOrNextButtons button:hover{
    background: #212121;
    color: #fff;
    border: 2px solid #fff;
}
.gameOver{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}
.gameOver .gameOverContainer{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background: #2121218e;
    padding: 40px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
}
.gameOver .gameOverContainer .lastMessages{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.gameOver .gameOverContainer .gameOverButtons{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.gameOver .gameOverContainer .gameOverButtons button{
    height: 45px;
    width: 150px;
    font-size: 1.2rem;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #212121;
    cursor: pointer;
    transition: all ease 0.1s;

}
.gameOver .gameOverContainer .gameOverButtons button:hover{
    background: #212121;
    color: #fff;
    border: 2px solid #fff;
}
.gameError{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
}
.gameErrorModale{
    padding: 40px;
    background: #00000057;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.gameErrorModale button{
    height: 45px;
    width: 150px;
    font-size: 1.2rem;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #212121;
    cursor: pointer;
    transition: all ease 0.1s;
}
.gameErrorModale button:hover{
    background: #212121;
    color: #fff;
    border: 2px solid #fff;
}
.mainGameContainer{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.mainGameContainer .innerGameContainer{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.playerDetailContainer{
    display: flex;
    padding: 40px;
    width: 800px;
    background: #2121218f;
    border-radius: 8px;
    align-items: center;
    gap: 4rem;
    font-size: 1rem;
    justify-content: space-between;
    backdrop-filter: blur(6px);
}
.quizContainer{
    padding: 40px;
    background: #2121218f;
    width: 90%;
    display: flex;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    font-size: 1rem;
    justify-content: space-between;
    backdrop-filter: blur(6px);
}
.quizContainer .answers{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    
}
.answers button{
    height: 45px;
    width: 100%;
    font-size: 1.2rem;
    background: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #212121;
    transition: all ease 0.1s;
    border: 2px solid #fff;
    padding: 10px;
}
.answers button:hover{
    background: #212121;
    color: #fff;
    border: 2px solid #fff;
}